*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.event {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #dddddd;
    width: 600px;
    max-width: 80%;
}

.event.active {
    transform: translate(-50%, -50%) scale(1);
}

.event-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.event-header .edit-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.event-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.event-body {
    padding: 10px 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.forms {
    display: grid;
    margin-top: 10px;
    margin-left: 10px;
}

.name-note {
    padding: 10px 15px;
    inline-size: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: hidden;
}

.descrip-note {
    padding: 10px 15px;
    inline-size: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: hidden;
    resize: none;
}

.times {
    height: 100px;
    padding: 10px 25%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.time-input {
    flex: 1;
}

.hour {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-style: hidden;
    border-radius: 5px;
}

.buttons {
    padding: 10px 25%;
    justify-content: space-around;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.Save, .Delete {
    font-size: 1.3rem;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border-style: hidden;
}

.Save {
    background-color: #00771e;
}

.Save:hover {
    background-color: #00ce33;
    cursor: pointer;
}

.Delete {
    background-color: #9c0000;
}

.Delete:hover {
    background-color: #d10000;
    cursor: pointer;
}
